@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<h4>Edit</h4>
<h4>Edit this Treat:@Html.DisplayFor(model => model.TreatName)</h4>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatName)

  @Html.LabelFor(model => model.TreatName)
  @Html.EditorFor(model => model.TreatName)

  <input type="submit" value="Edit" />
}
<p>@Html.ActionLink("Show all Treats", "Index")</p>